.inline {
    display: inline;
    background-color: yellow;
}

.inline-block {
    display: inline-block;
    background-color: yellow;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: top;
    border: 1px solid black;
}

.block {
    display: block;
    background-color: yellow;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid black;
}
