body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.scroll-section {
    background-image: url(download.jpeg); /* Replace with your image URL */
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    padding: 20px;
    height: 500px;
}

.fixed-section {
    background-image: url('download.jpeg'); /* Replace with your image URL */
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: right;
    background-size: contain;
    padding: 20px;
    height: 500px;
    overflow: scroll;
}

h1 {
    color: black;
}

p {
    color: black;
}
